# Created by https://www.gitignore.io/api/clojure,ansible,vagrant
# Edit at https://www.gitignore.io/?templates=clojure,ansible,vagrant

### Ansible ###
*.retry

### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

# End of https://www.gitignore.io/api/clojure,ansible,vagrant
